*{
  margin:0;
  padding: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}

/*navbar*/
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding: 8px;
  background-color: #121212;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
}
.navbar ul{
  display: flex;   
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navbar li{
  position: relative;
}
.navbar a{
  white-space: nowrap;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 900;
  color: #fffcfc;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
}
.navbar li:hover a{
  color: rgb(228, 224, 24);
}
.navlink::before{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 5px;
  left:50%;
  transform: translateX(-50%);
  background-color: rgb(228, 224, 24);
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.navlink:hover::before{
  visibility: visible;
  width: 100%;
}

.container-payment{
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #08090b;
}
.container-payment form{
  width: 700px;
  padding: 40px;
  background: rgba(84, 83, 83, 0.897);
  border-radius: 10px;
}
form .row-payment{
  display: flex;
  gap:15px;
}
.row-payment .column-payment{
  flex: 1 1 250px;
}
.column-payment .title{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.column-payment .input-box-payment{
  margin: 15px 0;
}
.input-box-payment input{
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}
.input-box-payment span{
  display: block;
  margin-bottom: 10px;
}
.column-payment .flex{
  display: flex;
  gap: 15px ;
}
.flex .input-box-payment{
  margin-top: 5px ;
}
form .btn{
  width: 100%;
  padding: 12px;
  background: #ffcc00;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  margin-top: 5px;
  cursor: pointer;
  transition: .5s;
}
form .btn:hover{
background: rgba(236, 240, 13, 0.801);
}
img{
  margin-top: 3px;
}
